.myBtn {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
}